* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: montserrat;
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: montserrat;
}
html,
body {
  height: 100%;
  width: 100%;
}

#main {
  position: relative;
  overflow: hidden;
}
#page {
  position: relative;
  height: 100vh;
  width: 100vw;
  background-color: #fffcfc;
}
#page > img {
  position: absolute;
  right: 5%;
  top: 52%;
  transform: translateY(-50%);
  width: 50%;
}
#page > #nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 30px;
  position: absolute;
  z-index: 9;
  height: 10%;
  width: 100%;
}
#center-nav {
  display: flex;
  gap: 20px;
}
#center-nav > a {
  text-decoration: none;
  color: #000;
  font-weight: 500;
  font-size: 18em;
}
#nav > input {
  padding: 10px 5px;
  border-radius: 10px;
  border: 1px solid #dadada;
  text-transform: uppercase;
}
#text {
  padding: 30px 50px;
  position: relative;
  top: 18%;
  left: 8%;
  height: 75%;
  width: 35%;
  scale: 1.1;
}
#text > h1 {
  font-size: 2em;
  line-height: 1;
  margin-top: 20%;
  
}
#text2 > h2 {
  font-size: 2em;
  line-height: 1;
  margin-top: 20px;
  text-align: center;
  background-color: #4CAF50;
  color: white;
}

#text > h4 {
  margin-top: 30px;
  color: #2b2b2b;
  font-size: 2em;
  font-weight: 10;
}
#text > h5 {
  color: #2e1ae4;
  transform: rotate(-20deg);
  position: absolute;
  left: 3%;
}
#buttons {
  position: absolute;
  left: 0%;
  bottom: 18%;
  height: 20%;
  width: 100%;
}
#buttons > button {
  padding: 10px 22px;
  border-radius: 10px;
  border: none;
  font-weight: 500;
}
#buttons > button > i {
  font-size: 17px;
}
#buttons > #b1 {
  margin-left: 20px;
  background-color: #8873ef;
}
#buttons > #b2 {
  margin-left: 20px;s
}
#page1 {
  position: relative;
  height: 100vh;
  width: 100vw;
  background-color: #bd7ff8;
}
#page1 > #left {
  position: absolute;
  right: 5%;
  height: 90%;
  top: 50%;
  transform: translateY(-50%);
  width: 35%;
}
#left > .box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
  height: 33.3%;
  width: 100%;
  border-top: 2px solid #000;
}
#left > .box > h4 {
  font-size: 30px;
}
#left > .box > h1 {
  font-size: 50px;
}
.circle {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3vw;
  width: 3vw;
  background-color: #8873ef;
  border-radius: 50%;
}
.circle > i {
  color: #fff;
  font-size: 25px;
}
#text1 {
  margin: 50px 50px;
  height: 30%;
  width: 50%;
  position: absolute;
  z-index: 9;
}
#text1 > h1 {
  font-size: 70px;
  margin-top: 20px;
}
#text1 > h4 {
  font-size: 17px;
  color: #2b2b2b;
  font-weight: 500;
  width: 70%;
  margin-top: 20px;
}
#text1 > h5 {
  color: #2e1ae4;
  transform: rotate(-20deg);
  position: absolute;
  left: -2%;
}
#page1 > img {
  position: absolute;
  bottom: 5%;
  left: 5%;
  width: 10%;
}
#page2 {
  position: relative;
  height: 100vh;
  width: 100vw;
  background-color: #fff;
}
#project {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50%;
  width: 90%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 5%;
}
.projects {
  border-top: 2px solid #000;
  height: 100%;
  width: 31%;
}
#text3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
  height: 30%;
  width: 100%;
}
#image {
  height: 70%;
  width: 100%;
}
#image > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.p2 {
  position: relative;
  top: -20%;
}
.p3 {
  position: relative;
  top: -50%;
}
#text4 {
  position: absolute;
  top: 10%;
  left: 5%;
  height: 20%;
  width: 30%;
}
#text4 > h1 {
  margin-top: 20px;
  font-size: 50px;
}
#text4 > h5 {
  color: #2e1ae4;
  transform: rotate(-20deg);
  position: absolute;
  top: 0%;
  left: 0%;
}
#page3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 60px;
  position: relative;
  height: 100vh;
  width: 100vw;
  background-color: #bd7ff8;
}
#left1 {
  height: 70%;
  width: 35%;
}
#right1 {
  position: relative;
  height: 40vw;
  width: 40vw;
  border-radius: 50%;
  border: 2px solid #000;
}
.line {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 30px;
  height: 10%;
  width: 100%;
}
.l1 {
  position: absolute;
  z-index: 99;
}
.l2 {
  left: 10%;
  top: 47%;
  width: 65%;
  border-bottom: 2px solid #000;
  position: absolute;
  transform: rotate(15deg);
  transform-origin: left;
}
.c1 {
  height: 12vw;
  width: 12vw;
}
.c1 > i {
  font-size: 80px;
}
#text5 {
  position: relative;
  height: 30%;
  width: 100%;
}
#text5 > h1 {
  padding-top: 20px;
  font-size: 60px;
}
#text5 > h5 {
  color: #2e1ae4;
  transform: rotate(-20deg);
  position: absolute;
  top: 0%;
  left: 0%;
}
#info {
  margin-top: 50px;
  height: 50%;
  width: 100%;
}
.infos {
  display: flex;
  align-items: center;
  gap: 20px;
  padding-left: 20px;
  height: 50%;
  width: 100%;
  border-top: 2px solid #000;
}
.i1 {
  background-color: #8873ef;
}
.i1 > i {
  color: #000;
}
footer {
  background-color:    #ebebeb ;
  padding: 20px;
  text-align: center;
  font-size: 16px;
  color: #333;
}

.footer-content span {
  font-weight: bold;
}

.footer-content p {
  margin-bottom: 10px;
}

/* Emoji styles */

.footer-content .emoji {
  font-size: 18px;
  margin-left: 5px;
}
form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

form input, form select, form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

form input[type="submit"] {
  background-color: #4CAF50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
#welcome-message {
  background-color: #bd7ff8;
  padding: 20px;
  text-align: center;
}

#welcome-message h1 {
  font-size: 24px;
  color: #2c2c2c;
}

#welcome-message p {
  font-size: 16px;
  color: #666;
  margin-bottom: 20px;
}

#welcome-message h2 {
  font-size: 18px;
  color: #000000;
  margin-bottom: 10px;
}

#welcome-message ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#welcome-message li {
  font-size: 16px;
  color: #484b4b;
  margin-bottom: 20px;
}

#welcome-message li:before {
  content: "\2022";
  color: #fcda69;
  margin-right: 20px;
}

h3 {
  color: #08ec10;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}
hr {
  border: none;
  border-top: 1px solid #ccc;
  margin: 0px 0;
}

html, body {
  height: 100%;
}

#main {
  position: relative;
  overflow: hidden;
}

#page {
  height: 100vh;
  width: 100vw;
  background-color: #fffcfc;
}

#page > img {
  right: 5vw;
  top: 52%;
  transform: translateY(-50%);
  width: 45vw;
}

#page > #nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 3vw;
  position: absolute;
  z-index: 9;
  height: 10vh;
  width: 100%;
}

#center-nav {
  display: flex;
  gap: 2.5vw;
}

#center-nav > a {
  text-decoration: none;
  color: #000;
  font-weight: 500;
  font-size: 2.5vw;
}

#nav > input {
  padding: 1.2vw 1vw;
  border-radius: 1vw;
  border: 1px solid #dadada;
  text-transform: uppercase;
}

#text {
  padding: 3vw 5vw;
  position: relative;
  top: 18%;
  left: 8vw;
  height: 75%;
  width: 35%;
  transform: scale(1.1);
}

#text > h1 {
  font-size: 6vw;
  line-height: 1;
  margin-top: 2vw;
}

#text2 > h2 {
  font-size: 6vw;
  line-height: 1;
  margin-top: 2vw;
  text-align: center;
  background-color: #4CAF50;
  color: white;
}

#text > h4 {
  margin-top: 3vw;
  color: #2b2b2b;
  font-size: 2.5vw;
  font-weight: 500;
}

#text > h5 {
  color: #2e1ae4;
  transform: rotate(-20deg);
  position: absolute;
  left: 3%;
}

#buttons {
  position: absolute;
  left: 0;
  bottom: 18%;
  height: 20%;
  width: 100%;
}

#buttons > button {
  padding: 1.2vw 2.2vw;
  border-radius: 1vw;
  border: none;
  font-weight: 500;
}

#buttons > button > i {
  font-size: 2.5vw;
}

#buttons > #b1 {
  margin-left: 2vw;
  background-color: #8873ef;
}

#buttons > #b2 {
  margin-left: 2vw;
}

#page1 {
  position: relative;
  height: 100vh;
  width: 100vw;
  background-color: #bd7ff8;
}

#page1 > #left {
  position: absolute;
  right: 5vw;
  height: 90%;
  top: 50%;
  transform: translateY(-50%);
  width: 35%;
}

#left > .box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2vw;
  height: 33.3%;
  width: 100%;
  border-top: 2px solid #000;
}

#left > .box > h4 {
  font-size: 5vw;
}

#left > .box > h1 {
  font-size: 8vw;
}

.circle {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 6vw;
  width: 6vw;
  background-color: #8873ef;
  border-radius: 50%;
}

.circle > i {
  color: #fff;
  font-size: 5vw;
}

#text1 {
  margin: 5vw 5vw;
  height: 30%;
  width: 50%;
  position: absolute;
  z-index: 9;
}

#text1 > h1 {
  font-size: 12vw;
  margin-top: 2vw;
}

#text1 > h4 {
  font-size: 2.5vw;
  color: #2b2b2b;
  font-weight: 500;
  width: 70%;
  margin-top: 2vw;
}

#text1 > h5 {
  color: #2e1ae4;
  transform: rotate(-20deg);
  position: absolute;
  left: -2%;
}

#page1 > img {
  position: absolute;
  bottom: 5vw;
  left: 5vw;
  width: 10vw;
}

#page2 {
  position: relative;
  height: 100vh;
  width: 100vw;
  background-color: #fff;
}

#project {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50%;
  width: 90%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 5%;
}

.projects {
  border-top: 2px solid #000;
  height: 100%;
  width: 31%;
}

#text3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2vw;
  height: 30%;
  width: 100%;
}

#image {
  height: 70%;
  width: 100%;
}

#image > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.p2 {
  position: relative;
  top: -20%;
}

.p3 {
  position: relative;
  top: -50%;
}

#text4 {
  position: absolute;
  top: 10%;
  left: 5%;
  height: 20%;
  width: 30%;
}

#text4 > h1 {
  margin-top: 2vw;
  font-size: 5vw;
}

#text4 > h5 {
  color: #2e1ae4;
  transform: rotate(-20deg);
  position: absolute;
  top: 0%;
  left: 0%;
}

#page3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 6vw;
  height: 100vh;
  width: 100vw;
  background-color: #bd7ff8;
}

#left1 {
  height: 70%;
  width: 35%;
}

#right1 {
  position: relative;
  height: 40vh;
  width: 40vh;
  border-radius: 50%;
  border: 2px solid #000;
}

.line {
  position: absolute;
  top: 50;
}
